<% include partials/header %>

<div class="container">
  <h1 style="text-align: center; margin: 40px;">Create a new campground</h1>
  <div style="width: 30%; margin:0 auto;">
    <div class="form-group">
      <form action="/campgrounds" method="POST">
        <input class='form-control' type="text" name="name" placeholder="name">
        <input class='form-control' type="text" name="image" placeholder="image url">
        <button class='btn btn-large btn-primary btn-block'>Submit!</button>
      </form>
    </div>
    <a href="/campgrounds">Go Back</a>
  </div>
</div>
<% include partials/footer %>
